# 6009 : [기초-입출력] 문자 1개 입력받아 그대로 출력하기(설명)(py)

In [ ]:
print('a')
print('a')

a
a

# 6010 : [기초-입출력] 정수 1개 입력받아 int로 변환하여 출력하기(설명)(py)

In [ ]:
input()

10

'10'

# 6011 : [기초-입출력] 실수 1개 입력받아 변환하여 출력하기(설명)(py)

In [ ]:
float(20
      )

20.0

# 6012 : [기초-입출력] 정수 2개 입력받아 그대로 출력하기1(설명)(py)

In [ ]:
input(5+8
      )

1312

'12'

# 6013 : [기초-입출력] 문자 2개 입력받아 순서 바꿔 출력하기1(py)

In [ ]:
a=input('문자 입력 해라')
b=input('문자 입력 해라')
print('a')
print('b')

문자 입력 해라48
문자 입력 해라67
a
b

# 6014 : [기초-입출력] 실수 1개 입력받아 3번 출력하기(py)

In [ ]:
a=float(input('입력해라:'))
b=float(input('입력해라:'))
c=float(input('입력해라:'))
print(a)
print(b)
print(c)

입력해라:48
입력해라:45
입력해라:42
48.0
45.0
42.0

# 6015 : [기초-입출력] 정수 2개 입력받아 그대로 출력하기2(설명)(py)

In [ ]:
a=int(input('입력하세요:'))
b=int(input('입력하세요:'))
print(a)
print(b)

입력하세요:94
입력하세요:82
94
82

# 6016 : [기초-입출력] 문자 2개 입력받아 순서 바꿔 출력하기2(설명)(py)

In [ ]:
a=input('입력해라:')
b=input('입력해라:')
print(b)
print(a)

입력해라:85
입력해라:45
45
85

# 6017 : [기초-입출력] 문장 1개 입력받아 3번 출력하기(설명)(py)

In [ ]:
a=input('입력하세요:')
print(a)
print(a)
print(a)

입력하세요:5
5
5
5

# 6018 : [기초-입출력] 시간 입력받아 그대로 출력하기(설명)(py)

In [ ]:
x=input('시간을 입력하세요:')

시간을 입력하세요:12

# 6019 : [기초-입출력] 연월일 입력받아 순서 바꿔 출력하기(py)

In [ ]:
y,s,d = map(int,input().split('.'))
print(d,s,y,sep='-')

2020.3.4
4-3-2020

# 6020 : [기초-입출력] 주민번호 입력받아 형태 바꿔 출력하기(py)

In [ ]:
a,b = input().split('-')
print(a+b)

64654654654-545454
64654654654545454

# 6021 : [기초-입출력] 단어 1개 입력받아 나누어 출력하기(설명)(py)

In [ ]:
s = input()
for i in s:
  print(i)

hello
h
e
l
l
o

# 6022 : [기초-입출력] 연월일 입력받아 나누어 출력하기(설명)(py)

# 6023 : [기초-입출력] 시분초 입력받아 분만 출력하기(py)

# 6024 : [기초-입출력] 단어 2개 입력받아 이어 붙이기(설명)(py)

# 6025 : [기초-값변환] 정수 2개 입력받아 합 계산하기(설명)(py)

# 6026 : [기초-값변환] 실수 2개 입력받아 합 계산하기(설명)(py)